<div class="fullwidth-header relative">
    <h1 class="absolute">{{ user.firstName }} {{ user.lastName }}</h1>
</div>
<div class="page-body">
    <div class="row">
        <div class="block s12">
            <div class="row">
                <div class="col xl6 l12">
                    <h2>Profile:</h2>
                    <p>
                        {{ user.profile }}
                    </p>
                    <h2>{{ user.firstName }}'s Stories</h2>
                    <div id="user-stories">
                        {{#if stories }}
                        {{#each stories }}
                        <div class="row">
                            <div class="col s12 m12 l6 x112">
                                <div class="card medium story-card">
                                    <div class="card-image" id="story-image">
                                        <img src={{ storyImage }}>
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title" id="story-title">{{ storyName }}</span>
                                        <h6>{{ location }}</h6>
                                        <p>{{ info }}</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="/story/{{ slug }}">Start story</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <h2>This user hasn't created any stories yet!</h2>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}

<script type="text/javascript" src="/js/profile.js"></script>

{{/section}}